<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATQ04t09yCNRhs19ITI3mUXyq3SMR1NFM</string>
	<key>GCM_SENDER_ID</key>
	<string>364094091724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.io.bichil</string>
	<key>PROJECT_ID</key>
	<string>bichil-globus-c7275</string>
	<key>STORAGE_BUCKET</key>
	<string>bichil-globus-c7275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364094091724:ios:bb35cb289f5bec900eed69</string>
</dict>
</plist>